.Profile {
  padding: 20px;
  min-height: 550px;
  background: #2e2e2e;
  border-radius: 2px;

  .TabLinks {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
}
