.Delivery {
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .columns {
    display: flex;
    margin-bottom: 40px;

    .column {
      width: 325px;
      margin-right: 20px;

      .about {
        font-size: 14px;
        margin-bottom: 20px;
      }

      input {
        width: 100%;
      }

      .ReactSelect__control {
        width: 325px;
        margin-bottom: 15px;
      }

      .ReactSelect__menu {
        width: 325px;
      }
    }

    .column:last-child {
      margin-right: 0;
    }
  }

  .btn-actoins {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;

    .primary {
      margin-left: 20px;
    }
  }
}
