.Wallet {
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 18px;
    margin-bottom: 45px;
  }

  .total {
    width: 325px;
    height: 36px;
    background: #353535;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .content {
    margin-top: 70px;

    .payment {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  .container {
    margin-top: 25px;
    padding: 40px;
    background: #2e2e2e;
    border-radius: 2px;
    width: 100%;
    height: 390px;

    .replenishment {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .info {
      color: rgba(255, 255, 255, 0.4);
      margin-bottom: 40px;
      font-size: 14px;
    }

    .column {
      display: flex;
      flex-direction: column;
      width: 325px;

      input {
        width: 100%;
        margin-bottom: 15px;
      }

      .wrapp {
        display: flex;

        .deadline {
          margin-right: 15px;
        }
      }
    }
  }

  .btn-actoins {
    display: flex;
    justify-content: flex-end;
  }
}
