.TabLinks {
  a {
    display: inline-flex;
    min-width: 120px;
    background-color: #2e2e2e;
    height: 34px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    padding: 0 8px;
    margin: 0 15px;
    font-size: 14px;
    font-weight: 300;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    position: relative;

    &.active {
      // border-bottom: 2px solid #41b7f6;
      color: #fff;
    }

    &.active::before {
      content: "";
      border-bottom: 2px solid #14b0ba;
      position: absolute;
      bottom: -22px;
      left: 0;
      width: 100%;
    }
  }
}
