.CardProductFull {
  // padding: 40px 40px 40px 20px;

  .top {
    display: flex;

    .image {
      margin-right: 20px;

      img {
        width: 325px;
        height: 325px;
        margin: 0 0 40px 0;
      }

      .feature {
        margin-top: 40px;

        .info {
          font-weight: normal;
          font-size: 18px;
          margin-bottom: 20px;
        }

        .Characteristics {
          padding: 0;
        }
      }
    }

    .detail {
      display: flex;
      flex-direction: column;
      flex: 1;

      .title {
        margin-bottom: 6px;

        .name {
          font-weight: normal;
          font-size: 24px;
        }

        .sub-title {
          font-weight: 300;
          font-size: 18px;
          color: rgba(255, 255, 255, 0.4);
        }
      }

      .about {
        display: flex;
        justify-content: space-between;

        .column {
          .money {
            display: flex;
            margin-bottom: 15px;

            .price {
              font-weight: bold;
              font-size: 24px;
              color: #14b0ba;
            }

            span {
              font-weight: normal;
              font-size: 10px;
              color: rgba(255, 255, 255, 0.4);
            }
          }

          .raiting {
            span {
              font-weight: normal;
              font-size: 14px;
              color: #14b0ba;
              margin-bottom: 10px;
            }
          }

          .btn-wrapp {
            display: flex;
            flex-direction: column;

            .primary {
              width: 180px;
              height: 32px;
              margin-bottom: 12px;
            }

            .rate {
              width: 180px;
              height: 32px;
            }
          }
        }
      }

      hr {
        margin: 20px 0;
      }

      .parameter {
        margin-bottom: 30px;

        .argument {
          font-weight: normal;
          font-size: 18px;
          margin-bottom: 20px;
        }

        .Characteristics {
          padding: 0;
        }
      }

      .description {
        .specification {
          font-weight: normal;
          font-size: 14px;
          margin-bottom: 10px;
        }

        p {
          font-weight: 300;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }

  .btn-total {
    display: flex;
    justify-content: flex-end;

    .primary {
      width: 180px;
      height: 36px;
      margin-left: 20px;
    }

    .rate {
      width: 180px;
      height: 36px;
    }
  }
}

.Modal {
  .wrapper {
    width: 375px;

    .content {
      padding: 20px;

      .price {
        font-size: 12px;
        margin-bottom: 40px;
      }

      .seller {
        margin-top: 20px;
      }

      .—Ålient,
      .seller {
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #353535;
        border-radius: 2px;
        padding: 10px 20px;

        .you-price {
          margin: 10px 0 5px 0;
          font-size: 12px;
        }

        .info {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.4);
        }

        .total {
          background: #3d3d3d;
          margin-bottom: 10px;
          width: 100%;

          &::placeholder {
            text-align: center;
          }
        }

        .primary {
          width: 100%;
        }
      }

      .different-price {
        width: 100%;
        text-align: left;
        font-weight: 300;
        font-size: 10px;
      }

      .Trade {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .you-price {
          font-size: 18px;
          margin-bottom: 20px;
        }

        .price {
          color: rgba(255, 255, 255, 0.4);
        }

        .total {
          margin-bottom: 10px;
          width: 100%;

          &::placeholder {
            text-align: center;
          }
        }

        textarea {
          height: 70px;
          width: 100%;
          font-size: 12px;
          font-family: Open Sans;

          &::placeholder {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.4);
            font-family: Open Sans;
          }
        }

        .rate {
          width: 100%;
          margin-top: 20px;
        }
      }

      .Accept-trade {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .btn-actions {
          margin: 20px 0;
          display: flex;
          align-items: center;

          .Button {
            width: 145px;
          }

          .rate {
            margin-right: 10px;
          }

          .different-price {
            color: rgba(255, 255, 255, 0.4);
          }
        }
      }

      .Approve-trade {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .primary {
          margin-top: 25px;
        }

        .different-price {
          margin-top: 5px;
          color: #14b0ba;
        }
      }
    }
  }
}
