.Table {
  /* Make sure the inner table is always as wide as needed */
  width: 100%;
  border-spacing: 0;

  .cell {
    font-size: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    width: 1%; /* The secret sauce each cell should grow equally */

    &.collapse {
      width: 0.0000000001%; /* But "collapsed" cells should be as small as possible */
    }
  }

  .heading {
    margin-bottom: 10px;

    .cell {
      font-weight: 300;
      font-size: 12px;
      user-select: none;
      color: rgba(255, 255, 255, 0.4);
      justify-content: center;

      .text {
        margin-right: 6px;
      }

      &.isGrouped {
        background: #393939;

        .GroupIcon {
          transform: rotate(-90deg);
        }
      }
    }

    .GroupBy {
      margin-right: 6px;
      padding: 0 4px;
    }

    .SortBy {
      margin-left: auto;
    }
  }

  .body {
    .row {
      background: #353535;
      height: 40px;
      margin-bottom: 10px;

      .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;

        .expanded {
          display: flex;
          align-items: center;

          svg {
            transform: rotate(180deg);
            margin-right: 5px;
            width: 4px;
            height: 12px;
            margin-right: 10px;
          }

          &.isExpanded {
            svg {
              transform: rotate(-90deg);
            }
          }
        }

        .sub-rows-length {
          margin-left: 8px;
        }
      }
    }
  }
}
