@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic-ext");

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  overflow: hidden;
  background: #282828;
}

textarea {
  resize: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
}

button {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  line-height: normal;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea,
input:not([type="checkbox"]) {
  height: 36px;
  background: #353535;
  border-radius: 2px;
  outline: none;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  color: inherit;
  appearance: textfield;
  border: none;
}

input::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.4);
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.05);
  height: 1px;
  width: 100%;
}
