.RowOrder {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 12px;

  img {
    margin-right: 20px;
  }

  .name {
    flex: 1;
  }

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;

    .about {
      color: rgba(255, 255, 255, 0.4);
      margin-bottom: 10px;
    }
  }
}
