.ApplicationPage {
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .content {
    margin-bottom: 40px;

    .description {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}
